html, body, #page-wrapper {
  height: 100%;
}

html, body, #page-wrapper, #footer-push, footer {
  margin: 0;
  padding: 0;
}

#page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px auto;
}

#footer-push, footer {
  height: 89px;
}

